/* Stile generale */

body {
  font-family: "Latin Modern Roman", serif;
  font-size: 16px;
  background-color: oklch(0.253267 0.015896 252.418);
  color: oklch(87.521% 0.01489 264.543);
  margin: 0;
}

.center-text {
  text-align: center;
}

.center-div {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

.sans {
  font-family: sans-serif;
}

/* Header */

header {
  background-color: oklch(0.211484 0.01165 254.088 / 0.85);
  height: 68px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}

.nav-container{
  max-width: 800px;
  margin: 0;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}

.nav-links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  margin-left: 0;
}

.nav-links a:hover {
  color: rgb(111, 215, 223);
}

.nav-links a{
  color: white;
  text-decoration: none;
}

.logo img {
  height: 40px;
  display: block;
}

.logo--login {
  transform: scale(0.73);
  filter: invert(1);
}

.logo--login:hover {
  filter: invert(82%) sepia(15%) saturate(5000%) hue-rotate(160deg) brightness(1.2);
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  max-width: 800px;
  margin: 0;
  padding: 15px 20px 0px 20px;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}

.menu-wrapper {
    display: none;
    width: 100%;
}

/* Home */
.title{
  font-size: 35px;
  width: 45%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.subtitle {
  font-size: 18.5px;
  padding-bottom: 40px;
  width: 40%;
  margin: 0 auto;
}
.main {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  gap: 5px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 0 10%;
}
.col {
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 25px;
  background-color: rgb(45, 57, 57);
  border-radius: 8px;
  height: 200px;
}
.col--40 { width: 40%; }
.col--45 { width: 45%; }
.col--50 { width: 50%; }
.col--100 { width: 100%; }
@media(max-width: 760px) {
  .col {
    width: 100%;
  }
  .col--home {
    height: 250px;
  }
}
.backgroundless {
  background-color: transparent;
}

.button {
  background-color: rgb(0, 157, 255);
  color: oklch(87.521% 0.01489 264.543);
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 25px;
}
.button:hover {
  background-color: rgb(111, 215, 223);
  color: oklch(0.211484 0.01165 254.088 / 0.85);
}

/* Lista problemi */

#item-list { padding-left: 1.2rem; }
.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}
.item-title { flex: 1; }
.item-row:hover { 
  background: #f5f5f5; 

  .item-title {
  color: rgb(21, 33, 34);
  }
}

.stars {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
}
.stars::before {
  content: "★★★★★";
  color: #ddd;
}
.stars::after {
  content: "★★★★★";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--fill, 0%);
  overflow: hidden;
  white-space: nowrap;
  color: currentColor;
}

/* inserimento dati */

.text-area {
  display: flex;
  justify-content: center;
  background-color: rgb(45, 57, 57);
  height: 60px;
  width: 300px;
  margin: 10px 0;
  padding: 0 15px;
  border: 5px solid rgb(37, 44, 44);
  border-radius: 8px;
  color: #ddd;
}

.text-area::placeholder {
  justify-content: left;
  font-family: sans-serif;
  color:rgba(248, 248, 248, 0.486)
}

.password-wrapper {
  position: relative;
  margin: 0 auto;
}
.password-wrapper .toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


#pagination {
  display: flex;
  gap: 0.35rem;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}
#pagination button {
  border: 1px solid #ccc;
  background: white;
  padding: 0.35rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
}
#pagination button[disabled] { opacity: 0.5; cursor: not-allowed; }
#pagination .active { border-color: black; font-weight: 700; }
#pagination .ellipsis { border: none; background: transparent; cursor: default; }

/* adjustements for very small windows */
@media (max-width: 580px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }

  .logo {
    display: none;
  }
  .logo--login {
    display: block;
  }

  .button {
    font-size: 16px;
  }

  /* Mostra hamburger */
    .hamburger {
        display: block;
    }

    /* Nasconde menu normale */
    .nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }

    .menu-wrapper {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }

    .menu-wrapper.open {
        display: flex;
        background-color: rgb(45, 57, 57);;
    }
} 